.shortcuts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
  mask-image: paint(squircle);
  -webkit-mask-image: paint(squircle);
  --squircle-radius: 20px;
  --squircle-smooth: 0.8;
}

@media (max-width: 459px) {
  .shortcuts {
    min-height: 180px;
    font-size: 40px;
  }
}

.shortcuts .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
